<a href="https://colab.research.google.com/github/AHakeemk/python-basic-programs/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [8]:
for i in range(1000,2001):
    if i%7==0 and i%11==0:
        print(i)

1001
1078
1155
1232
1309
1386
1463
1540
1617
1694
1771
1848
1925

2. Write a program to print this pattern
 
           #
          ## 
         ###

In [88]:
k=2*3-2
for i in range(0, 3):
    for j in range(0, k):
        print(end=" ")
    k=k-2
    for j in range(0, i+1):
        print("# ", end="")
    print("\r")

    #
  # #
# # #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [80]:
list=["apple","orange","apple","banana"]
for i in range(len(list)):
    if list[i]=="apple":
       list[i]="grapes"
print(list)

['grapes', 'orange', 'grapes', 'banana']